
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: hsl(217, 54%, 11%);
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    color: hsl(215, 51%, 70%);
    width: 375px;
}

.nft-component {
    width: 325px;
    background-color:hsl(216, 50%, 16%);
    padding: 25px;
    margin: 25px;
    border-radius: 10px;
}

.nft-artwork img {
    width: 275px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.nft-info h1 {
    color: hsl(0, 0%, 100%);
    font-weight: 600;
    font-size: 1.35rem;
    margin-bottom: 15px;
}

.nft-title p {
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 12px;
}

.nft-details {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.nft-price {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 7px;
}

.nft-price-text {
    font-size: 1rem;
    color: hsl(178, 100%, 50%);
}